$btnsPadding: 5px !important;
.container {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content {
  max-width: 800px;
  text-align: center;
  margin: auto;
}
/* MOBILE: */
@media (max-width: 700px) {
  .content {
    width: 90%;
  }
}
.grid {
  display: grid;
  margin: auto;
  margin-top: 5px;
  align-content: center;
  max-width: 300px;
  grid-template-columns: 49% 49%;
  align-content: space-between;
  justify-content: space-between;
}
.gridDevelopersForm {
  display: grid;
  grid-template-columns: 49% 49%;
  margin-top: 5px;
  justify-content: space-between;
}
.maxWidth {
  max-width: 300px;
  margin: auto;
  text-align: left;
}
.setCoordinates {
  max-width: 300px;
  text-align: left !important;
  font-size: 20px;
  font-style: italic;
}
.title {
  font-size: 60px;
  margin: 30px 0;
  color: darkred;
}
/* MOBILE: */
@media (max-width: 700px) {
  .title {
    margin: 0;
    font-size: 38px;
  }
}
.imgBox {
  text-align: center;
}
.gitLogoImg {
  margin: 10px 0;
  width: 50vw;
  max-width: 120px;
}
.gitLogoSignupImg {
  margin: 10px 0;
  width: 40vw;
  max-width: 80px;
}
.logSignClick {
  cursor: pointer;
  font-weight: 600;
  color: #0095f6;
  transition: 0.2s ease-in-out;
}
.logSignClick:hover {
  color: #006db6;
}
.forgotPassClick {
  cursor: pointer;
  color: #818181;
  transition: 0.2s ease-in-out;
}
.forgotPassClick:hover {
  color: #4b4b4b;
}
.btnLogin,
.facebookBtn,
.btnCoordinates,
.btnSignup,
.btnCoordinatesDevs,
.btnSignupDevs {
  margin: 4px 0;
  border-radius: 5px !important;
  padding: $btnsPadding;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  transition: 0.5s;
}
.facebookBtn {
  max-width: 300px;
  background-color: #1e3485;
}
.facebookBtn:hover {
  background-color: #12225d;
}
.btnLogin {
  max-width: 300px;
  font-weight: bold;
  background-color: #8097eb;
}
.btnLogin:hover {
  background-color: #667dcf;
}
.btnCoordinates {
  max-width: 300px;
  background-color: #3b4d8f;
}
.btnCoordinates:hover {
  background-color: #12225d;
}
.btnCoordinatesDevs {
  background-color: #3b4d8f;
}
.btnCoordinatesDevs:hover {
  background-color: #12225d;
}
.btnSignup {
  max-width: 300px;
  background-color: rgb(16, 146, 96) !important;
}
.btnSignup:hover {
  background-color: rgb(11, 110, 72) !important;
}
.btnSignupDevs {
  background-color: rgb(16, 146, 96) !important;
}
.btnSignupDevs:hover {
  background-color: rgb(11, 110, 72) !important;
}
.btnText {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
  transition: 0.2s;
}
.btnTextSignUp {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 5px;
  color: #fff;
  transition: 0.2s;
}
.facebookImg {
  display: inline-block;
  width: 35px;
}
.spinerContainer {
  /* making the spinner thinner: */
  font-size: 11px;
}
.facebookLoginBox:hover .btnText {
  text-shadow: 0.5px 0.5px 0.5px rgb(53, 53, 156);
}
.container form {
  margin: 15px;
}
.inputMail,
.container form input {
  width: 100%;
  height: 40px;
  max-width: 300px;
  margin: 15px 0;
  border-radius: 5px;
  // padding: 5px 10px;
  color: #2f2f2f;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
}

.container form input {
  width: 100%;
  max-width: 300px;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px 10px;
  color: #2f2f2f;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
}

/* .input-block + .input-block will affect just the .input-block that
  has another .input-block before it */
.container form .input-block + .input-block {
  margin-top: 5px;
}

.container form .input-group {
  margin-top: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* next will affect all .input-block INSIDE a .input-group */
.container form .input-group .input-block {
  margin-top: 0;
}

.container form .input-block label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.container form .input-block input {
  width: 100%;
  height: 25px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

.container form button[type='submit'] {
  width: 100%;
  border: 0;
  /* margin-top: 20px; */
  background-color: #8097eb;
  border-radius: 2px;
  padding: 10px 20px; /* 15px top-bottom, 20px right-left */
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.container form button[type='submit']:hover {
  background-color: #4668e4;
}
