.container {
  text-align: center;
  /* making the spinner thinner: */
  font-size: 11px;
}
.text {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: 6vw;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1000px) {
  .text {
    font-size: 50px;
  }
}
